body {
    margin: 0;
  }

  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  } 

header {
    padding: 0.375rem;
    background-color: #8080ff;
    color: #d9e9e8;
  }

#Washington{
    background-color: grey;
  }

  #Illinois
  {
    background-color: grey;
} 

#Cali {
    background-color: grey;
}

#Florida {
    background-color: grey;
}

#San {
    background-color: grey;
}

#Texas {
    background-color: grey;
}

#Colorado {
    background-color: grey;
}

#Georgia{ 
    background-color: grey;
}

#searchBtn {
    background-color: #4d79ff;
}